font{
    font-family: 'Josefin Sans', sans-serif;
    background-color:blue;
}
w{
    color:red;
}
.indira{
    color:green;
    background-color:red;
    font-size:50px;
    font-family:Times New Roman;
}
fom go k{
    color:yellow;
}
