.container{
    background-image:url('https://cdn.pixabay.com/photo/2016/11/29/06/18/apple-1867762_1280.jpg');
    background-repeat:no-repeat ;
    background-size:100% 100%;
    height:200px;
}
.header {
    background-color:rgba(25,187,255,.3);
    height:auto;
    width:100%;
    float:left;
}
.menu{
    
    float:right;
}
font{
    font-family:Times New Roman;
    float:left;
    font-size:40px;
    color:white;
    text-shadow:0 0 10px red,0 0 10px yellow ;
}
r{
    text-decoration:none;
    color:white;
    font-weight:277px;
    text-align:center;
}
r:hover{
    font-size:20px;
    background-color:rgba(39,191,251,.6);
    border-radius:7px;
    padding:12px;
    
}